/* 배경색 #efebe8 */
.application {
  background-color: #efebe8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todolist {
  height: 70%;
  width: 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}